html {
  height: 100%;
}
body {
  margin: 0;
  background-image: linear-gradient(0deg, hsl(345, 100%, 70%) 0%, hsl(265, 100%, 70%) 100%);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Figtree', sans-serif;
}

#main {
  display: flex;
  align-items: center;
  gap: 24px;
  color: white;
}

h1 {
  margin: 0;
  font-size: 48px;
}
